# Java / Maven
target/
*.class
*.jar
*.war
.mvn/
mvnw
mvnw.cmd
HELP.md

# Spring
*.log
logs/
storage/
out/
build/

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Test
/coverage
*.exec
